<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>LSD Planning Poker</title>
</head>
<script>
    const ROOM_ID = "<%= roomId %>"
</script>
<script src="/socket.io/socket.io.js" defer></script>
<script src="script.js" defer></script>

<body>
    <div id="container">
        <div id="users-grid"></div>
        <div id="opts-container">
            <div id="name-selection-div">
                <input type="text" name="name-input" id="name-input">
                <button id="name-submit" onclick="join()">Join</button>
            </div>
        </div>
    </div>
</body>

</html>